<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.weappdemo.mapper.UserMapper">
    <insert id="insertSelective" parameterType="cn.edu.guet.weappdemo.bean.WeChatModel">
        insert into user(openid, avatarUrl, nickName)
        values (#{openid}, #{avatarUrl}, #{nickName})
    </insert>

    <select id="findUserByNameAndPassword" resultType="cn.edu.guet.weappdemo.bean.WeChatModel">
        select *
        from user
        where openid = #{openid}
    </select>
    <select id="getUserInfo" resultType="cn.edu.guet.weappdemo.bean.WeChatModel">
        select *
        from user
        where openid = #{value}
    </select>
</mapper>
